Repository gregorias/ignore-flakes: changes, and which lefthook commands are due for each by the changed paths.
All: hlint, fourmolu, prettier

lefthook.yml:

pre-commit:
  commands:
    hlint:
      tags: lint
      glob: "*.hs"
      run: stack exec hlint {staged_files} -- -X QuasiQuotes
    fourmolu:
      tags: style
      glob: "*.hs"
      # Fourmolu doesn't know about syntax changing language extensions.
      # We need to provide them separately.
      run: >-
        fourmolu -o "-XTypeApplications"
        -o "-XImportQualifiedPost"
        -i {staged_files}
        && git add {staged_files}
    prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    unit-tests:
      run: "stack test --ghc-options '-Werror'"
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

docs: update README
  DEV.md
  README.md
Due: none

feat: add --version handling
  dev/bin/release-new-version
  src/Lib.hs
Due: hlint, fourmolu

chore: release v1.1.0.0
  dev/bin/release-new-version
  ignore-flakes.cabal
  package.yaml
Due: prettier

docs: document the release process
  DEV.md
Due: none

chore: update the release process
  DEV.md
  dev/bin/release-new-version
Due: none
